body {
    background-color: #ccffcc;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#guess {
    width: 346px;
    height: 58px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 14px;
}

#guessBtn {
    background-color: #3AE3A8;
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
}

.messageInsert p {
    margin-bottom: 3px;
    text-align: start;
}

.container h1 {
    text-align: center;
    margin-top: 144px;
    margin-bottom: 48px;
    font-size: 50px;
    font-weight: bold;
}

.rules {
    text-align: left;
    font-size: 16px;
    margin-left: 439px;
    margin-right: 453px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    ol {
        font-size: 16px;
    }
}