#body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.greenBg {
    background-color: #ccffc5;
}

.yellowBg {
    background-color: yellow;
}

.redBg {
    background-color: red;
}

.transition {
    transition: ease-in 0.2s;
}

#guess {
    width: 346px;
    height: 58px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 14px;
}

#guessBtn {
    background-color: #3AE3A8;
    width: 350px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    margin-bottom: 18px;
    transition: ease 0.1s;
}

.greenBtnBg {
    background-color: #3AE3A8;
}

.yellowBtnBg {
    background-color: yellow;
}

.redBtnBg {
    background-color: white;
}

.messageInsert p {
    margin-bottom: 3px;
    display: flex;
    align-items: start;
}

.label h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
    font-size: 50px;
    font-weight: bold;
}

.rules {
    text-align: left;
    font-size: 16px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    ol {
        font-size: 16px;
    }
}